# --- Ethereum Node Connections + PBS URLs ---

# Comma-separated list of allowed RPC addresses to subscribe via websocket to receive
# incoming commitments requests.
# This is incompatible with the `BOLT_SIDECAR_PORT` option.
BOLT_SIDECAR_FIREWALL_RPCS="wss://rpc.holesky.boltprotocol.xyz/api/v1/firewall_stream"

# Secret ECDSA key to sign commitment messages with. The public key associated
# to it must be then used when registering the operator in bolt contracts
BOLT_SIDECAR_OPERATOR_PRIVATE_KEY=

# Execution client API URL
BOLT_SIDECAR_EXECUTION_API_URL="http://host.docker.internal:8545"

# URL for the beacon client
BOLT_SIDECAR_BEACON_API_URL="http://host.docker.internal:5052"

# Execution client Engine API URL. This is needed for fallback block building
# and must be a synced Geth node
BOLT_SIDECAR_ENGINE_API_URL="http://host.docker.internal:8551"

# The port from which the Bolt sidecar will receive Builder-API requests from the Beacon client
BOLT_SIDECAR_CONSTRAINTS_PROXY_PORT=18550

# URL to forward the constraints produced by the Bolt sidecar to a server
# supporting the Constraints API, such as an MEV-Boost fork
BOLT_SIDECAR_CONSTRAINTS_API_URL="http://bolt-mev-boost-holesky:18551"

# The JWT secret token to authenticate calls to the engine API. It can be
# either be a hex-encoded string or a file path to a file containing the
# hex-encoded secret.
BOLT_SIDECAR_ENGINE_JWT_HEX=

# The fee recipient address for locally-built fallback blocks. It should be the same as the
# one set for your validators.
BOLT_SIDECAR_FEE_RECIPIENT=

# Secret BLS key to sign fallback payloads with
BOLT_SIDECAR_BUILDER_PRIVATE_KEY=

# --- Commitments limits ---

# Max committed gas per slot
BOLT_SIDECAR_MAX_COMMITTED_GAS=10_000_000

# Min profit per gas to accept a commitment
BOLT_SIDECAR_MIN_PROFIT=2000000000 # 2 Gwei = 2 * 10^9 wei

# --- Chain configuration ---

# Chain on which the sidecar is running
BOLT_SIDECAR_CHAIN="holesky"

# The deadline in the slot at which the sidecar will stop accepting new
# commitments for the next block (parsed as milliseconds)
BOLT_SIDECAR_COMMITMENT_DEADLINE=8000

# Enable a two-epoch lookahead by enabling unsafe lookahead option
BOLT_SIDECAR_ENABLE_UNSAFE_LOOKAHEAD=true

# --- Signing options ---

# The path to the delegations file
BOLT_SIDECAR_DELEGATIONS_PATH=

# The private key of the account for which delegations have been made.
BOLT_SIDECAR_CONSTRAINT_PRIVATE_KEY=

# --- Telemetry and Metrics ---

# Changing this requires also changing the `target.json` file
BOLT_SIDECAR_METRICS_PORT=9091
BOLT_SIDECAR_DISABLE_METRICS=false
