[submodule "bolt-contracts/lib/forge-std"]
	path = bolt-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "bolt-contracts/lib/openzeppelin-contracts"]
	path = bolt-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "bolt-contracts/lib/openzeppelin-contracts-upgradeable"]
	path = bolt-contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "bolt-contracts/lib/openzeppelin-foundry-upgrades"]
	path = bolt-contracts/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "bolt-contracts/lib/eigenlayer-contracts"]
	path = bolt-contracts/lib/eigenlayer-contracts
	url = https://github.com/layr-labs/eigenlayer-contracts
[submodule "bolt-contracts/lib/core"]
	path = bolt-contracts/lib/core
	url = https://github.com/symbioticfi/core
