# Port to listen on for incoming JSON-RPC requests of the Commitments API.
# (This is where users will send preconfirmation requests to)
# If you are using the Firewall RPCs option, this variable MUST remain empty.
BOLT_SIDECAR_PORT=

# Comma-separated list of allowed RPC addresses to subscribe via websocket to receive
# incoming commitments requests.
# This is incompatible with the `BOLT_SIDECAR_RPC_URL` option.
BOLT_SIDECAR_FIREWALL_RPCS="wss://rpc-holesky.bolt.chainbound.io/api/v1/firewall_stream"

# Secret ECDSA key to sign commitment messages with. The ETH address derived from the public key 
# associated to it must be then used when registering the operator in the bolt contracts.
# SET THIS 👇
BOLT_SIDECAR_OPERATOR_PRIVATE_KEY=

# Execution client API URL
# CHANGE THIS ACCORDING TO YOUR NODE SETUP 👇
BOLT_SIDECAR_EXECUTION_API_URL="http://127.0.0.1:8545"

# Beacon client API URL
# CHANGE THIS ACCORDING TO YOUR NODE SETUP 👇
BOLT_SIDECAR_BEACON_API_URL="http://127.0.0.1:5052"

# Execution client Engine API URL.
# This is needed for fallback block building and must be a synced Geth node.
# CHANGE THIS ACCORDING TO YOUR NODE SETUP 👇
BOLT_SIDECAR_ENGINE_API_URL="http://127.0.0.1:8551"

# The port from which the Bolt sidecar will receive Builder-API requests from the Beacon client.
# E.g. on Lighthouse this is set by the `--builder http://localhost:18550` flag.
# YOU DON'T HAVE TO CHANGE THIS 
BOLT_SIDECAR_CONSTRAINTS_PROXY_PORT=18550

# URL to forward the constraints produced by the Bolt sidecar to a server
# supporting the Constraints API, such as an MEV-Boost fork.
# YOU DON'T HAVE TO CHANGE THIS 
BOLT_SIDECAR_CONSTRAINTS_API_URL="http://cb_pbs:18551"

# Execution client Engine Secret.
# This is the secret token token to authenticate calls to the engine API. It can be
# either be a hex-encoded string or a file path to a file containing the secret.
# SET THIS ACCORDING TO YOUR NODE SETUP 👇
BOLT_SIDECAR_ENGINE_JWT_HEX=

# The fee recipient address for fallback blocks (this is the address that will receive the fees).
# SET THIS ACCORDING TO YOUR VALIDATOR SETUP 👇
BOLT_SIDECAR_FEE_RECIPIENT=

# Secret BLS key to sign fallback payloads with. This should be a BLS secret of 32 bytes.
# You can generate one with the `bolt generate bls` command.
# YOU DON'T HAVE TO CHANGE THIS
BOLT_SIDECAR_BUILDER_PRIVATE_KEY=0c824d40ad3545b4973d1d491d7e8f318536b3aad11609ecdf51d2894fd8cac0

# Unsafe flags --- these are NOT to be used in production.
# BOLT_SIDECAR_UNSAFE_DISABLE_CONSENSUS_CHECKS="true"
# BOLT_SIDECAR_UNSAFE_DISABLE_ONCHAIN_CHECKS="true"

# Commitments limits
# Max committed gas per slot
# YOU CAN CHANGE THIS TO YOUR LIKING 👇
BOLT_SIDECAR_MAX_COMMITTED_GAS_PER_SLOT=10000000

# Min profit per gas to accept a commitment
# YOU CAN CHANGE THIS TO YOUR LIKING 👇
BOLT_SIDECAR_MIN_PROFIT=2000000000 # 2 Gwei = 2 * 10^9 wei

# Chain configuration
# Chain on which the sidecar is running
# DO NOT CHANGE THIS
BOLT_SIDECAR_CHAIN="holesky"

# The deadline in the slot at which the sidecar will stop accepting new
# commitments for the next block (parsed as milliseconds)
# YOU DON'T HAVE TO CHANGE THIS
BOLT_SIDECAR_COMMITMENT_DEADLINE=8000

# Enable a two-epoch lookahead by enabling unsafe lookahead option
# YOU DON'T HAVE TO CHANGE THIS
BOLT_SIDECAR_ENABLE_UNSAFE_LOOKAHEAD=true

# Signing options.
#
# The BLS private key to sign the sidecar constraints with.
# 
# If you want to use a unique key for all your validators, you can generate
# signed delegation messages to point to the same public key. Then you can
# set the associated private key here.
# 
# A guide on how to generate delegations is available at:
# <https://github.com/chainbound/bolt/blob/unstable/testnets/holesky/README.md#delegations-and-signing-options-for-native-and-docker-compose-mode>
# 
# SET THIS ACCORDING TO YOUR BOLT DELEGATION SETUP 👇
BOLT_SIDECAR_CONSTRAINT_PRIVATE_KEY=

# If using delegations, this variable should be set to the location on the docker volume
# where the sidecar can read the signed delegations file. By default, this is loaded from
# a `delegations.json` file in the same directory as this file.
#
# If not using delegations, comment this out.
#
# SET THIS ACCORDING TO YOUR BOLT DELEGATION SETUP 👇
BOLT_SIDECAR_DELEGATIONS_PATH="/etc/delegations.json"

# Alternative signing options. Use these only if you know what you are doing.
# 
# BOLT_SIDECAR_CB_SIGNER_URL=
# BOLT_SIDECAR_CB_JWT_HEX=
# BOLT_SIDECAR_KEYSTORE_PASSWORD=
# BOLT_SIDECAR_KEYSTORE_SECRETS_PATH=
# BOLT_SIDECAR_KEYSTORE_PATH=

# Telemetry and Metrics
# Changing this requires also changing the `target.json` file
BOLT_SIDECAR_METRICS_PORT=9091 
BOLT_SIDECAR_DISABLE_METRICS=false
