[package]
name = "bolt-sidecar"
version = "0.1.0"
edition = "2021"
default-run = "bolt-sidecar"

[dependencies]
# core
clap = { version = "4.5.4", features = ["derive"] }
tokio = { version = "1", features = ["full"] }
warp = "0.3.7"
futures = "0.3"
axum = { version = "0.7", features = ["macros"] }

# crypto
blst = "0.3.12"
secp256k1 = { version = "0.29.0", features = ["rand"] }

# alloy
alloy-rpc-client = { git = "https://github.com/alloy-rs/alloy", features = [
  "reqwest",
  "ws",
  "pubsub",
] }
alloy-provider = { git = "https://github.com/alloy-rs/alloy", features = [
  "ws",
] }
alloy-signer = { git = "https://github.com/alloy-rs/alloy" }
alloy-signer-local = { git = "https://github.com/alloy-rs/alloy" }
alloy-transport = { git = "https://github.com/alloy-rs/alloy" }
alloy-eips = { git = "https://github.com/alloy-rs/alloy" }
alloy-transport-http = { git = "https://github.com/alloy-rs/alloy" }
alloy-transport-ws = { git = "https://github.com/alloy-rs/alloy" }
alloy-pubsub = { git = "https://github.com/alloy-rs/alloy" }
alloy-rpc-types = { git = "https://github.com/alloy-rs/alloy" }
alloy-rpc-types-beacon = { git = "https://github.com/alloy-rs/alloy" }
alloy-consensus = { git = "https://github.com/alloy-rs/alloy", features = [
  "k256",
] }
alloy-json-rpc = { git = "https://github.com/alloy-rs/alloy" }
alloy-primitives = { version = "0.7.1", features = ["rand"] }
alloy-network = { git = "https://github.com/alloy-rs/alloy" }
alloy-rlp = "0.3"

reqwest = "0.12"
ethereum-consensus = { git = "https://github.com/ralexstokes/ethereum-consensus", rev = "cf3c404" }
beacon-api-client = { git = "https://github.com/ralexstokes/ethereum-consensus", rev = "cf3c404" }

# types
serde = { version = "1.0.197", features = ["derive"] }
serde_json = "1.0.115"
parking_lot = "0.12.1"
async-trait = "0.1.79"
bytes = "1.6.0"
lru = "0.12.3"
hex = "0.4.3"

# utils
eyre = "0.6.12"
thiserror = "1.0"
rand = "0.8.5"

# tracing
tracing = "0.1.40"
tracing-subscriber = "0.3.18"

# commit-boost
cb-crypto = { git = "https://github.com/Commit-Boost/commit-boost-client" }
cb-common = { git = "https://github.com/Commit-Boost/commit-boost-client" }

[dev-dependencies]
alloy-node-bindings = { git = "https://github.com/alloy-rs/alloy" }


[[bin]]
name = "bolt-sidecar"
path = "bin/sidecar.rs"
